<footer class="footer">
    <div class="has-text-centered">
        <p><strong>SSL - Staff Applications</strong> created by <a
                    href="https://www.shaunoneill.com"><strong>XeliteXirish!</strong></a> Running smoothly using<strong>NodeJS</strong>!
            <br>
            <small>Originally created for <a href="https://discord.gg/ssl">SSL Community</a>! Come check us out!</small>
        </p>
        <br>
        <p>
            <a class="icon is-medium" href="https://discord.gg/ssl"><i class="fa icon-discord"
                                                                       style="padding-top: 4px;"></i></a>
            <a class="icon is-medium" href="https://www.github.com/XeliteXirish"><i class="fa fa-github"></i></a>
            <a class="icon is-medium" href="https://status.shaunoneill.com"><i class="fa fa-check"></i></a>
        </p>
    </div>
</footer>