<a class="nav-item is-brand is-active title is-5" href="/">
    <img class="image 32x32" src="/img/logo.png" style="border-radius: 100%;">
    &nbsp;&nbsp;<strong>SSL - Staff Applications</strong>
</a>